/.DS_Store
/.vscode
/Lab1_tet
/Lab2_tet
/Lab3_tet
/Lab4_CSE30
/Lab5_tet
/Lab6_tet
/Lab7
/Lab8
/Lab9
/Useful_Stuff
/accessing_wd.py
/hello.sh
/json_geo.py
/jsontst.py
/mandelbrot.png
/qiwklabsregex.py
/regex_sum_1610884.txt
/scraping.py
/test.py
/testB.py
/testre.py
/testtest.py
/testtest_test.py
/untitled folder